

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<p>
  <strong>Chef's recipes:</strong>
</p>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Instructions</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% if !@user.recipes.nil? then @user.recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.instructions %></td>
        <td><%= recipe.category.name %></td>
      </tr>
    <% end %>
  <% end %>
</table>